@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat&display=swap");
body {
  background-color: #F8E5E5;
  background-image: linear-gradient(135deg, #F8E5E5 0%, #c39ea0 100%);
  height: 100%; }
  @media (min-width: 600px) {
    body {
      height: 100vh; } }
  body ::selection {
    background-color: #FA255e;
    color: #FFFFFF; }
  body ::-moz-selection {
    background-color: #FA255e;
    color: #FFFFFF; }

#app {
  text-align: center; }
  #app h1, #app h2 {
    font-family: "Bebas Neue", cursive; }
  @media (min-width: 600px) {
    #app .intro-block {
      width: 80%;
      margin-left: auto;
      margin-right: auto; } }
  @media (min-width: 1000px) {
    #app .intro-block {
      width: 70%;
      margin-left: auto;
      margin-right: auto; } }
  #app .intro-block p {
    font-family: "Montserrat" sans-serif;
    font-size: 1.2em; }
  #app .s {
    background-color: white;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 5px; }
    #app .s:hover {
      background-color: #FA255e;
      color: white; }
    #app .s h2 {
      font-size: 2em;
      margin-top: 20px;
      color: black; }
    #app .s img {
      margin-top: 20px;
      height: 100px;
      width: auto; }

#side-nav i {
  color: #000000; }

.chart h1, .chart h2 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-bottom: 40px; }

.chart h2 {
  font-size: 2em; }

.chart input {
  background-color: #FA255e; }

.chart button {
  background-color: #FFFFFF;
  font-family: "Bebas Neue", cursive;
  color: #000000;
  font-size: 1.2em; }
  .chart button:hover {
    background-color: #FA255e;
    color: #FFFFFF; }
  .chart button:focus {
    background-color: #FA255e;
    color: #FFFFFF; }
